body {
    margin: 0;
}

/*-- basic --*/
.esports * {
    box-sizing: border-box;
}

.esports {
    margin: 0;
    padding: 0;
    background: #F2F5F8;
    font-family: Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: normal;
}

.esports ul,
.esports li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.esports ol li {
    list-style-type: decimal;
}

.esports a {
    text-decoration: none;
}

.esports h1,
.esports h2,
.esports h3,
.esports h4,
.esports h5,
.esports h6 {
    margin: 0;
    font-weight: normal;
}

.esports h1 {
    font-size: 32px;
}

.esports h2 {
    font-size: 28px;
}

.esports h3 {
    font-size: 24px;
}

.esports h4 {
    font-size: 18px;
}

.esports h5 {
    font-size: 16px;
}

.esports h6 {
    font-size: 12px;
}

.esports p a,
.esports h4 a {
    text-decoration: underline;
}

.esports .btn {
    display: inline-block;
    position: relative;
    padding: 0 40px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.esports .btn:hover {
    color: #fff;
    background: #61ce8a;
}

.esports .btn:active {
    color: #fff;
    background: #199d47;
}

.esports .btn-primary {
    height: 58px;
    line-height: 58px;
    background: #1DB955;
    border-radius: 29px;
    border: none;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
}


.esports .btn-secondary {
    height: 44px;
    line-height: 44px;
    border: 1px solid #1DB954;
    border-radius: 22px;
    font-size: 15px;
    color: #1DB954;
    background: transparent;
}

.esports .color-green {
    color: #1DB954;
}

.esports .cololr-yellow {
    color: #FDD900;
}

.esports .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.esports .hide,
.esports .show-sm {
    display: none;
}

.esports .show,
.esports .hide-sm {
    display: block;
}

.esports .clear {
    display: block;
    clear: both;
}

.esports .middle {
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .esports .container {
        max-width: 720px;
        min-width: 320px;
        padding-right: 12px;
        padding-left: 12px;
    }

    .esports .h1-sm {
        font-size: 28px;
    }

    .esports .h2-sm {
        font-size: 24px;
    }

    .esports .h3-sm {
        font-size: 18px;
    }

    .esports .h4-sm {
        font-size: 16px;
    }

    .esports .h5-sm {
        font-size: 12px;
    }

    .esports .h6-sm {
        font-size: 10px;
    }

    .esports .show-sm {
        display: block;
    }

    .esports .hide-sm {
        display: none;
    }

    .esports .footer p {
        width: 100%;
        font-size: 12px;
        line-height: 22px;
    }

    .esports .btn-primary {
        font-size: 14px;
    }

}

@media (min-width: 1200px) {
    .esports .container {
        max-width: 1140px;
    }
}

/*-- basic end --*/

/*-- grid system --*/
.esports .no-outside-gutters {
    margin: -11px -15px;
}

.esports .grid {
    /*margin: -11px -15px;*/
}

.esports .grid:after {
    content: "";
    display: block;
    clear: both;
}

.esports .no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.esports .no-gutters>.col,
.esports .no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.esports [class*="col-"] {
    position: relative;
    float: left;
    width: 100%;
    padding: 11px 15px;
    box-sizing: border-box;
}

.esports .col-1 {
    max-width: 8.333333%;
}

.esports .col-2 {
    max-width: 16.666667%;
}

.esports .col-3 {
    max-width: 25%;
}

.esports .col-4 {
    max-width: 33.333333%;
}

.esports .col-5 {
    max-width: 41.666667%;
}

.esports .col-6 {
    max-width: 50%;
}

.esports .col-7 {
    max-width: 58.333333%;
}

.esports .col-8 {
    max-width: 66.666667%;
}

.esports .col-9 {
    max-width: 75%;
}

.esports .col-10 {
    max-width: 83.333333%;
}

.esports .col-11 {
    max-width: 91.666667%;
}

.esports .col-12 {
    max-width: 100%;
}


@media (max-width: 768px) {
    .esports .no-outside-gutters {
        margin: -5px;
    }

    .esports .sm-no-gutters {
        margin-right: 0;
        margin-left: 0;
    }

    .esports .sm-no-gutters>.col,
    .esports .sm-no-gutters>[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    .esports [class*="col-"] {
        padding: 5px;
    }

    .esports .col-sm-1 {
        max-width: 8.333333%;
    }

    .esports .col-sm-2 {
        max-width: 16.666667%;
    }

    .esports .col-sm-3 {
        max-width: 25%;
    }

    .esports .col-sm-4 {
        max-width: 33.333333%;
    }

    .esports .col-sm-5 {
        max-width: 41.666667%;
    }

    .esports .col-sm-6 {
        max-width: 50%;
    }

    .esports .col-sm-7 {
        max-width: 58.333333%;
    }

    .esports .col-sm-8 {
        max-width: 66.666667%;
    }

    .esports .col-sm-9 {
        max-width: 75%;
    }

    .esports .col-sm-10 {
        max-width: 83.333333%;
    }

    .esports .col-sm-11 {
        max-width: 91.666667%;
    }

    .esports .col-sm-12 {
        max-width: 100%;
    }

}

/*-- grid system end --*/

/*-- block --*/
.esports .section {
    padding: 12px 0;
}

.esports .section .section-title {
    position: relative;
    margin-bottom: 5px;
    color: #0066B7;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}

.esports .section .section-title .more {
    display: inline-block;
    position: absolute;
    right: 0;
    padding-right: 12px;
    font-size: 14px;
    color: #97A4B3;
    background: url(../images/arrow-gray.svg) no-repeat right center;
    background-size: auto 50%;
}

@media (min-width: 768px) {
    .esports .section {
        padding: 16px 0;
    }

    .esports .section .section-title {
        margin-bottom: 12px;
        font-size: 24px;
    }

    .esports-contant-page .container {
        position: relative;
        max-width: 730px;
    }
}

.esports .cscore {
    font-size: 12px;
    color: #97A4B3;
    text-align: center;
}

.esports .cscore .game-score {
    display: inline-block;
    font-size: 20px;
    color: #cad0d7;
    vertical-align: middle;
}

.esports .cscore .vs {
    display: inline-block;
    width: 37px;
    height: 70px;
    background: url(../images/vs.png) no-repeat center center / 100% auto;
    vertical-align: middle;
}

.esports .cscore .team-name {
    display: inline-block;
    width: 35%;
    vertical-align: middle;
}

.esports .cscore .team-name span {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.esports .cscore i {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.esports .cscore i img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
}

/*header*/
.esports .esports-header {
    position: relative;
    height: 46px;
    line-height: 46px;
    background: #fff;
    text-align: center;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1);
    font-size: 18px;
    color: #59748A;
}

.esports .esports-header .header-back {
    display: inline-block;
    position: absolute;
    left: 12px;
    height: 100%;
}

.esports .esports-header .header-back span {
    display: none;
    color: #C4CDD5;
    vertical-align: middle;
}

.esports .esports-header .header-back i {
    display: inline-block;
    width: 12px;
    height: 21px;
    margin-right: 12px;
    background: url(../images/arrow-gray.svg) no-repeat right center;
    background-size: cover;
    transform: rotate(180deg);
    vertical-align: middle;
}

.esports .esports-header .team-select {
    display: inline-block;
    cursor: pointer;
}

.esports .esports-header .team-select i {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 5px;
    background: url(../images/arrow-gray.svg) no-repeat right center;
    background-size: cover;
    transform: rotate(90deg);
}

.esports .esports-header.open-select .team-select i {
    transform: rotate(-90deg);
}

.esports .esports-header .team-select ul {
    display: none;
    position: absolute;
    top: 54px;
    right: 0;
    left: 0;
    padding: 0 12px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 11;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1);
}

.esports .esports-header.open-select .team-select ul {
    display: block;
}

.esports .esports-header .team-select ul li {
    line-height: 52px;
}

.esports .esports-header .team-select ul li+li {
    border-top: 1px solid #E0E4E9;
}

.esports .esports-header .team-select ul li a{
    display: block;
    color: inherit;
}

@media (min-width: 768px) {
    .esports .esports-header {
        height: 58px;
        line-height: 58px;
        background-color: transparent;
        font-size: 24px;
        box-shadow: none;
    }

    .esports .esports-header .header-back span {
        display: inline-block;
        font-size: 18px;
    }

    .esports .esports-header .team-select ul {
        width: 200px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/*nav*/
.esports .esports-nav {
    height: 46px;
    line-height: 46px;
    background: #fff;
    color: #97A4B3;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1);
}

.esports .esports-nav li {
    display: inline-block;
    float: left;
    width: 33.33%;
    font-size: 16px;
    text-align: center;
    transition: .3s;
}

.esports .esports-nav li span {
    display: inline-block;
    position: relative;
    padding: 0 4px;
}

.esports .esports-nav li span:after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;
    left: 50%;
    height: 3px;
    background: #2dadf6;
    transition: .3s;
}

.esports .esports-nav li.active {
    color: #2dadf6;
}

.esports .esports-nav li.active span:after {
    right: 0%;
    left: 0%;
}

.esports .esports-nav-desktop {
    margin-bottom: 32px;
    background: linear-gradient(180deg, #DDEEFC 0%, #FFFFFF 100%);
}

.esports .esports-nav-desktop:after {
    content: "";
    display: block;
    clear: both;
}

.esports .esports-nav-desktop li {
    position: relative;
    float: left;
    padding: 24px;
    width: 33.33%;
    height: 96px;
    color: #59748A;
    transition: .3s;
    cursor: pointer;
}

.esports .esports-nav-desktop li+li {
    border-left: 1px solid #e0e4e8;
}

.esports .esports-nav-desktop li.tes {
    background: url(../images/DesktopNav/TES.png) no-repeat right center /auto 100%;
}

.esports .esports-nav-desktop li.wbts {
    background: url(../images/DesktopNav/WBTS.png) no-repeat right center /auto 100%;
}

.esports .esports-nav-desktop li.aster {
    background: url(../images/DesktopNav/Aster.png) no-repeat right center /auto 100%;
}

.esports .esports-nav-desktop li:hover,
.esports .esports-nav-desktop li.active {
    background-color: #fff;
    color: #00acfa;
}

.esports .esports-nav-desktop li.active:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #00ACFA;
}

.esports .esports-nav-desktop i {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border-radius: 10px;
    background-color: #dceefb;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1), inset 0 1px 1px #fff, inset 0 -1px 1px #c5e3f7;
    vertical-align: middle;
}

.esports .esports-nav-desktop i>img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.esports .esports-nav-desktop span {
    display: inline-block;
    vertical-align: middle;
}

.esports .esports-nav-desktop span>span {
    opacity: 0.5;
}

.esports .esports-nav-desktop h3 {
    font-size: 20px;
}

@media (min-width: 768px) {}

/*team*/
.team-tag {
    position: relative;
}

.team-tag>li {
    display: none;
    position: relative;
    transition: .3s;
}

.team-tag>li.active {
    display: block;
    animation: teamIn 1s forwards;
}

@keyframes teamIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.team-tag>li.teamOut {
    position: absolute;
    top: 0;
    left: -100%;
}

.esports .team-stats {
    position: relative;
    height: auto;
}

.esports .team-stats .team-bg {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
}

.esports .team-stats .team-bg img {
    width: 100%;
}

.esports .team-stats .stats-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
    width: 100%;
    font-size: 12px;
    color: #fff;
}

.esports .team-stats .stats-info li {
    display: inline-block;
    width: 32%;
    text-align: left;
    vertical-align: middle;
    text-shadow: 0 1px 2px rgba(0, 69, 138, 0.5);
}

.esports .team-stats .stats-info li:first-child,
.esports .team-stats .stats-info li:last-child {
    width: 16%;
}

.esports .team-stats .stats-info li:nth-child(2) {
    width: 24%;
}

.esports .team-stats .stats-info li:nth-child(3) {
    width: 38%;
}

.esports .team-stats .stats-info li:nth-child(3),
.esports .team-stats .stats-info li:last-child {
    text-align: right;
}

.esports .team-stats .stats-info li div {
    display: inline-block;
    text-align: left;
}

.esports .team-stats .stats-info li h3 {
    text-align: left;
    font-size: 20px;
    color: #fff;
    opacity: 1;
}

.esports .team-stats .stats-info li i {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-color: #fff;
    background-color: #dceefb;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1), inset 0 1px 1px #fff, inset 0 -1px 1px #c5e3f7;
}

.esports .team-stats .stats-info li i img {
    display: block;
    max-height: 100%;
    min-width: 100%;
}

.esports .team-stats .stats-info span {
    opacity: .7;
}


@media (min-width: 768px) {
    .esports .team-stats {
        height: 377px;
    }

    .esports .team-stats .team-bg {
        position: absolute;
    }

    .esports .team-stats .stats-info li {
        width: 36%;
    }

    .esports .team-stats .stats-info li:first-child,
    .esports .team-stats .stats-info li:last-child {
        width: 12%;
    }

    .esports .team-stats .stats-info li i {
        width: 64px;
        height: 64px;
    }

    .esports .team-stats .stats-info span {
        font-size: 14px;
    }

    .esports .team-stats .stats-info h3 {
        font-size: 24px;
    }
}

/*games future*/
.esports .games-future {
    background: linear-gradient(135deg, #00ACFA 0%, #0066B7 100%);
}

.esports .games-future .section-title {
    color: #fff;
}

.esports .games-future .overview {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1140px;
}

.esports .games-future .overview ul {
    margin-top: 12px;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: auto;
}

.esports .games-future .overview li {
    display: inline-block;
    margin-left: 12px;
}

.esports .games-future .overview li:last-child {
    margin-right: 12px;
}

.esports .games-future .overview .scoreboard {
    width: 256px;
    padding: 12px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1);
}

.esports .games-future .overview .scoreboard .time {
    font-size: 12px;
    color: #97A4B3;
}

.esports .games-future .overview .scoreboard .leagues {
    color: #59748A;
}

.esports .games-future .overview .scoreboard .cscore .team-name {
    width: 40%;
}

.esports .games-future .overview .scoreboard .more {
    display: inline-block;
    padding-top: 12px;
    width: 100%;
    border-top: 1px solid #e0e4e8;
    font-size: 14px;
    color: #1DB954;
}

.esports .games-future .overview .scoreboard .more i {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 5px;
    background: url(../images/arrow-green.svg) no-repeat right center;
    background-size: cover;
}

@media (min-width: 768px) {
    .esports .games-future {
        margin: 16px 0;
    }
}

/*games record*/
.esports .winning-record {
    padding: 12px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1);
}

.esports .winning-record+.winning-record {
    margin-top: 12px;
}

.esports .winning-record .games-winning {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: #d5dae0;
    color: #fff;
    line-height: 30px;
    text-align: center;
}

.esports .winning-record .games-winning.win {
    background-color: #00ACFA;
}

.esports .winning-record .leagues {
    color: #59748A;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.esports .winning-record .time {
    color: #97A4B3;
    font-size: 12px;
}

.esports .winning-record .award-table {
    display: none;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    font-size: 12px;
    color: #59748A;
    text-align: center;
    /*border-collapse: collapse;*/
    overflow: hidden;
}

.esports .winning-record .award-table tr:nth-child(even) {
    background-color: #F2F5F8;
}

.esports .winning-record .award-table th {
    padding: 12px;
    background-color: #2dadf6;
    color: #fff;
}

.esports .winning-record .award-table th+th {
    border-left: 1px solid #59c5f8;
}

.esports .winning-record .award-table td {
    padding: 12px;
}

.esports .winning-record .award-table td+td {
    border-left: 1px solid #e7e7e7;
}

.esports .winning-record.award-open .award-table {
    display: inline-table;
}

.esports .winning-record .more {
    display: block;
    margin-top: 16px;
    padding: 12px;
    border-top: 1px solid #e0e4e8;
    font-size: 14px;
    color: #97A4B3;
    text-align: center;
    cursor: pointer;
}

.esports .winning-record .more i {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 5px;
    background: url(../images/arrow-gray.svg) no-repeat right center;
    background-size: cover;
    transform: rotate(90deg);
}

.esports .winning-record.award-open .more i {
    transform: rotate(-90deg);
}

/*news*/
.esports .news-block {
    float: left;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    color: #59748A;
    background: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1);
}

.esports .news-block+.news-block {
    margin-top: 8px;
}

.esports .news-block .news-photo {
    display: block;
    position: relative;
    float: left;
    margin-right: 12px;
    width: 92px;
    height: 65px;
    border-radius: 10px;
    background: #999;
    overflow: hidden;
}

.esports .news-block .news-photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 65px;
    max-width: 100%;
}

.esports .news-block .news-subject {
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.esports .news-block .news-time {
    margin-top: 6px;
    color: #97A4B3;
    font-size: 12px;
}

/*-- article filter --*/
.esports .article-filter {
    margin-top: 12px;
    text-align: center;
}

.esports .article-filter:after {
    content: "";
    display: block;
    clear: both;
}

.esports .article-filter li {
    display: inline-block;
    float: left;
    padding: 6px 11px;
    margin-bottom: 4px;
    width: 32%;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #fff;
    font-size: 14px;
    color: #97A4B3;
    cursor: pointer;
}

.esports .article-filter li+li {
    margin-left: 2%;
}

.esports .article-filter li.active {
    border: 1px solid #25C296;
    background-color: transparent;
    color: #25C296;
}

/*-- article feed --*/

.esports .article-feed {
    padding: 12px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1);
    color: #97A4B3;
}

.esports .article-feed+.article-feed {
    margin-top: 12px;
}

.esports .article-feed h3 {
    font-size: 20px;
    color: #59748A;
}

.esports .article-feed h6 {
    margin-top: 4px;
    color: #97A4B3;
}

.esports .article-feed img {
    display: block;
    width: 100%;
    height: auto;
    margin: 8px 0;
    border-radius: 10px;
}

.esports .article-feed .prophet {
    display: none;
}

.esports .article-feed .prophet.show {
    display: block;
}

.esports .article-feed .prophet h5 {
    color: #59748A;
}

.esports .article-feed .prophet .btn {
    height: 36px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 4px;
    line-height: 36px;
}

@media (max-width: 768px) {}

/*-- block end --*/

/*-- fix --*/
.sticky-bottom-menu a {
    padding: 0 !important;
}

.footer-menu-holder {
    clear: none !important;
}

html.IsDesktop #content-main .content-width {
    max-width: 100%;
}

/*promotion*/
.esports .promotions-wrapper {
    max-width: 1140px;
}

.esports .promotions-header {
    margin-left: 15px;
    margin-right: 15px;
    color: #0066b7;
}

.esports .promotions-header-title,
html.IsMobile .esports .promotions-header-title {
    margin-bottom: 5px;
    margin-top: 12px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

html.IsDesktop .esports .promo-holder,
html.IsMobile .esports .promo-holder {
    height: auto;
    padding-bottom: 0;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 69, 138, 0.1);
}

.esports .promo-link-holder-banner,
.esports a.mk-promo-banner-link {
    height: 120px;
}

html.IsDesktop .esports .promo-content,
html.IsMobile .esports .promo-content {
    padding-left: 12px;
    padding-right: 12px;
}

.IsDesktop .esports .promo-content-headline,
.IsTablet .esports .promo-content-headline,
.IsMobile .esports .promo-content-headline {
    margin: 12px 0 0px;
    color: #59748A;
    font-size: 16px;
    font-weight: bold;
}

.esports a.promo-text {
    display: none;
    margin-bottom: 0;
    padding-bottom: 12px;
    height: 72px;
    border-bottom: 1px solid #e0e4e8;
    font-size: 14px;
    color: #97A4B3;
    overflow: hidden;
}

.esports .promo-cta,
html.IsMobile .esports .promo-cta {
    position: relative;
    padding-top: 12px;
    padding-bottom: 16px;
    overflow: hidden;
}

html.IsDesktop .esports .promo-cta-information,
html.IsDesktop .esports .promo-cta-btn-information,
html.IsDesktop .esports .promo-cta-btn {
    width: 140px;
    font-size: 14px;
}

/*promotion mobile*/
html.IsMobile .esports .promotions-header-title {
    font-size: 20px;
}

html.IsMobile .esports .promotions-header {
    margin-left: 12px;
    margin-right: 12px;
}

/*-- css end --*/