/*-- basic --*/

.newbie * {
    box-sizing: border-box;
}

.newbie {
    font-family: Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    margin: 0;
    background: #F2F5F8;
}

.newbie ol {
    list-style-type: decimal;
    padding-left: 24px;
}

.newbie a {
    text-decoration: none;
}

.newbie h1,
.newbie h2,
.newbie h3,
.newbie h4,
.newbie h5,
.newbie h6 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.newbie h1 {
    font-size: 32px;
}

.newbie h2 {
    font-size: 28px;
}

.newbie h3 {
    font-size: 24px;
}

.newbie h4 {
    font-size: 20px;
}

.newbie h5 {
    font-size: 16px;
}

.newbie h6 {
    font-size: 12px;
}


.newbie .btn {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    transition: .3s;
    border: none;
    cursor: pointer;
}

.newbie .btn:hover {
    color: #fff;
    background: #61ce8a;
}

.newbie .btn:active {
    color: #fff;
    background: #199d47;
}

.newbie .btn+.newbie .btn {
    margin-left: 4px;
}

.newbie .btn-primary {
    height: 44px;
    line-height: 44px;
    background: #1DB955;
    border-radius: 29px;
    color: #FFFFFF;
}

.newbie .btn-secondary {
    height: 44px;
    line-height: 44px;
    border: 1px solid #1DB954;
    border-radius: 22px;
    color: #1DB954;
    background: transparent;
}

.newbie .btn-disable,
.newbie .btn-disable:hover,
.newbie .btn-disable:active {
    border-color: #bbb;
    background: #bbb;
    color: #fff;
    pointer-events: none;
}

.newbie .clear {
    display: block;
    clear: both;
}

.newbie .color-primary {
    color: #004f93;
}

.newbie .color-secondary {
    color: #Fdd900;
}

.newbie .color-link {
    color: #1DB955;
}

.newbie .color-fff {
    color: #fff;
}

.newbie .bg-primary {
    background-color: #004f93;
}

.newbie .bg-secondary {
    background-color: #Fdd900;
}

.newbie .bg-link {
    background-color: #1DB955;
}

.newbie .pd {
    padding: 16px;
}

.newbie .show {
    display: block !important;
}

.newbie .show-sm {
    display: none;
}

.newbie .hide-sm {
    display: block;
}

.newbie .container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 767px) {

    .newbie .container {
        max-width: 720px;
        min-width: 320px;
    }

    .newbie .h1-sm {
        font-size: 32px;
    }

    .newbie .h2-sm {
        font-size: 28px;
    }

    .newbie .h3-sm {
        font-size: 24px;
    }

    .newbie .h4-sm {
        font-size: 20px;
    }

    .newbie .h5-sm {
        font-size: 16px;
    }

    .newbie .h6-sm {
        font-size: 12px;
    }

    .newbie .btn-primary,
    .newbie .btn-secondary {
        height: 38px;
        line-height: 38px;
        font-size: 14px;
    }

    .newbie .show-sm {
        display: block;
    }

    .newbie .hide-sm {
        display: none;
    }
}

@media (min-width: 1200px) {
    .newbie .container {
        max-width: 1140px;
    }
}

/*-- grid system --*/
.newbie .gutters {
    margin-right: -16px;
    margin-left: -16px;
}

.newbie .grid-demo [class*="col-"] {
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

.newbie .row>[class*="col-"] {
    padding-top: 16px;
    padding-bottom: 16px;
}

.newbie .gutters:after,
.newbie .row:after,
.newbie .row-sm:after {
    content: "";
    display: block;
    clear: both;
}

.newbie .row+.row,
.newbie .row-sm+.row-sm {
    margin-top: 16px;
}

.newbie .row-sm:after {
    display: none;
}

.newbie [class*="col-"] {
    position: relative;
    float: left;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
}

.newbie .col-1 {
    max-width: 8.333333%;
}

.newbie .col-2 {
    max-width: 16.666667%;
}

.newbie .col-3 {
    max-width: 25%;
}

.newbie .col-4 {
    max-width: 33.333333%;
}

.newbie .col-5 {
    max-width: 41.666667%;
}

.newbie .col-6 {
    max-width: 50%;
}

.newbie .col-7 {
    max-width: 58.333333%;
}

.newbie .col-8 {
    max-width: 66.666667%;
}

.newbie .col-9 {
    max-width: 75%;
}

.newbie .col-10 {
    max-width: 83.333333%;
}

.newbie .col-11 {
    max-width: 91.666667%;
}

.newbie .col-12 {
    max-width: 100%;
}

@media (max-width: 767px) {
    .newbie .row-sm:after {
        display: block;
    }

    .newbie .col-sm-1 {
        max-width: 8.333333%;
    }

    .newbie .col-sm-2 {
        max-width: 16.666667%;
    }

    .newbie .col-sm-3 {
        max-width: 25%;
    }

    .newbie .col-sm-4 {
        max-width: 33.333333%;
    }

    .newbie .col-sm-5 {
        max-width: 41.666667%;
    }

    .newbie .col-sm-6 {
        max-width: 50%;
    }

    .newbie .col-sm-7 {
        max-width: 58.333333%;
    }

    .newbie .col-sm-8 {
        max-width: 66.666667%;
    }

    .newbie .col-sm-9 {
        max-width: 75%;
    }

    .newbie .col-sm-10 {
        max-width: 83.333333%;
    }

    .newbie .col-sm-11 {
        max-width: 91.666667%;
    }

    .newbie .col-sm-12 {
        max-width: 100%;
    }
}

/*-- grid system end --*/

/*-- popup --*/
.newbie .popup-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.newbie .popup-wrap.active {
    display: block;
}

.newbie .popup-wrap .popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

.newbie .popup-wrap .popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 50px;
    max-height: 100%;
    /*width: 100%;*/
    max-width: 1140px;
    color: #111;
    z-index: 1;
    overflow: scroll;
}

.newbie .popup-wrap .popup-close {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: #11447d;
    border-radius: 100%;
    cursor: pointer;
    z-index: 99;
}

.newbie .popup-close:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background: url(https://content.100b108.com/resp/vip/icons/close.svg) center center no-repeat;
    background-size: contain;
}

.newbie .popup-content {
    display: inline-block;
    padding: 40px;
    border-radius: 8px;
    background: #fff;
    text-align: center;
}

@media (max-width: 768px) {}

/*-- popup end --*/

.newbie .kv {
    position: relative;
    height: 600px;
    /*background: #fff url(../images/newbie-bg.jpg) no-repeat center bottom;*/
    background: #fff url(https://content.100b108.com/resp/promotions/newbie/images/newbie-bg.jpg) no-repeat center bottom;
    background-size: auto 100%;
}

@media (max-width: 768px) {
    .newbie .kv {
        background-image: url(../images/newbie-bg-m.jpg);
    }
}

.newbie .section {
    padding: 20px 0;
}

.newbie .newbie-promo {
    text-align: center;
}

.newbie .newbie-promo .promo-item {
    padding: 0 15px;
    border-radius: 5px;
    background: #fff;
    text-align: left;
    line-height: 24px;
}

.newbie .newbie-promo .promo-item .promo-item-img {
    margin: 0 -15px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.newbie .newbie-promo .promo-item img {
    display: block;
    width: 100%;
}

.newbie .newbie-promo .promo-item .promo-btn-wrap {
    padding: 20px 0;
    margin-top: 15px;
    border-top: 1px solid #E7E7E7;
    text-align: center;
}

.newbie .newbie-promo .promo-item .tt {
    margin-top: 15px;
    font-size: 18px;
}

.newbie .newbie-promo .promo-item .td {
    margin: 10px 0;
    font-size: 14px;
    color: #999;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
    .newbie .newbie-promo {
        text-align: center;
    }

    .newbie .newbie-promo .promo-item .tt {
        font-size: 16px;
    }

    .newbie .newbie-promo .promo-item .td {
        height: auto;
        font-size: 12px;
    }
}

.newbie .scroll-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.newbie .scroll-down>a {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 100%;
    transform: rotate(90deg);
}

.newbie .scroll-down>a>img {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 45%;
    top: 50%;
    animation: scrollDown1 1s infinite;
}

@keyframes scrollDown1 {
    0% {
        left: 45%;
    }

    50% {
        left: 55%;
    }

    100% {
        left: 45%;
    }
}




/*-- css end --*/