* {
	padding: 0;
	margin: 0;
}

.mobile_body {
	width: 750px;
	margin: 0 auto;
}

.mobile_box {
	position: relative;
	height: 100%;
}

.mobile_logo {
	/*border-radius: 30px;*/
	width: 190px;
	/*height: 50px;*/
	text-align: center;
}

.logo {
	text-align: center;
	margin-top: 45px;
	max-height: 90px;
}

.logo img{
	width: 90px;
	margin: 0 auto;
}

.desk-top-logo {
	font-size: 224.26px;
	color: #263440;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: PingFangSC-Regular, sans-serif;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 5%;
}

.title {
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	margin: 60px auto auto;
}

.subtitle {
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	margin: 30px auto auto;
}

#qrcode {
	position: absolute;
	top: 28%;
	left: 37%;
	width: 200px;
	height: 200px;
}

.qrcodeloadingText {
	margin-top: 20px;
	width: 100%;
	text-align: center;
	color: #565656;
	font-size: 18px;
}

.loading_frame {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
}

.hcenter {
	display: block;
	margin: 0 auto;
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.load {
	text-align: center;
}

form {
	display: inline-block;
}

.sponsership-section {
	padding: 25px 0 40px;
	text-align: center;
}

.sponsership-section .sponsership-item {
	display: inline-block;
}

.sponsership-section .sponsership-item a {
	display: block;
	margin: 35px auto 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center top;
}

.logo-juventus {
	width: 173px;
	height: 68px;
	background-image: url(../assets/logo-juventus.svg);
}

.logo-DDI {
	width: 193px;
	height: 62px;
	background-image: url(../assets/logo-DDI.svg);
}

.logo-blackburn {
	width: 131px;
	height: 43px;
	background-image: url(../assets/logo-blackburn.svg);
}

footer {
	background-color: #013167;
}

.footer .container {
	border-top: 1px solid rgba(255, 255, 255, .2);
	width: 84%;
	padding-bottom: 1vh;
	padding-left: 0;
	padding-right: 0;
}

.footer {
	text-align: center;
}

.footer p {
	font-size: 12px;
	display: inline-block;
	margin: 20px 0;
	color: #fff;
	opacity: .3;
	line-height: 22px;
}

.loading-spinner {
	animation-name: spin;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	max-height: 35px;
	display: none;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 720px ) {
	.logo {
		max-height: initial;
		margin: 0 auto;
	}

	.logo img {
		width: 140px;
	}
	.down_tip, .ios_reinstall {
		width: 100%;
		font-size: 24px;
	}
	.download_android, .download_ios {
		min-width: 600px;
		min-height: 80px;
	}
}