@import url("reset.min.css");

/*-- basic --*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 2em;
    background: #F2F5F8;
    color: #666;

}

ol {
    list-style-type: decimal;
    padding-left: 24px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 2em;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background: inherit;
}

.clear {
    display: block;
    clear: both;
}

.btn {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    transition: .3s;
}

.btn:hover {
    color: #fff;
    background: #61ce8a;
}

.btn:active {
    color: #fff;
    background: #199d47;
}

.btn+.btn {
    margin-left: 5px;
}

.btn-primary {
    height: 44px;
    line-height: 44px;
    background: #1DB955;
    border-radius: 29px;
    font-size: 18px;
    color: #FFFFFF;
}

.btn-secondary {
    height: 44px;
    line-height: 44px;
    border: 1px solid #1DB954;
    border-radius: 22px;
    font-size: 15px;
    color: #1DB954;
}

.text-primary {
    color: #004f93;
}

.text-secondary {
    color: #Fdd900;
}

.text-click {
    color: #1DB955;
}

.show {
    display: block !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.show-sm {
    display: none;
}

.hide-sm {
    display: block;
}

@media (max-width: 767px) {
    .container {
        max-width: 720px;
        min-width: 320px;
    }

    .btn-primary,
    .btn-secondary {
        height: 38px;
        line-height: 38px;
        font-size: 14px;
    }

    .show-sm {
        display: block;
    }

    .hide-sm {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*-- grid system --*/
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.grid {
    margin: 0 -15px;
}

.grid:after {
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    position: relative;
    float: left;
    width: 100%;
    padding: 15px;
}

.col-1 {
    max-width: 8.333333%;
}

.col-2 {
    max-width: 16.666667%;
}

.col-3 {
    max-width: 25%;
}

.col-4 {
    max-width: 33.333333%;
}

.col-5 {
    max-width: 41.666667%;
}

.col-6 {
    max-width: 50%;
}

.col-7 {
    max-width: 58.333333%;
}

.col-8 {
    max-width: 66.666667%;
}

.col-9 {
    max-width: 75%;
}

.col-10 {
    max-width: 83.333333%;
}

.col-11 {
    max-width: 91.666667%;
}

.col-12 {
    max-width: 100%;
}


@media (max-width: 767px) {
    .col-sm-1 {
        max-width: 8.333333%;
    }

    .col-sm-2 {
        max-width: 16.666667%;
    }

    .col-sm-3 {
        max-width: 25%;
    }

    .col-sm-4 {
        max-width: 33.333333%;
    }

    .col-sm-5 {
        max-width: 41.666667%;
    }

    .col-sm-6 {
        max-width: 50%;
    }

    .col-sm-7 {
        max-width: 58.333333%;
    }

    .col-sm-8 {
        max-width: 66.666667%;
    }

    .col-sm-9 {
        max-width: 75%;
    }

    .col-sm-10 {
        max-width: 83.333333%;
    }

    .col-sm-11 {
        max-width: 91.666667%;
    }

    .col-sm-12 {
        max-width: 100%;
    }
}

/*-- header --*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
    line-height: 84px;
    background: #15315d;
    text-align: center;
    z-index: 20;
}

.header .logo {
    float: left;
    display: inline-block;
    padding: 19px 0;
    height: 84px;
}

.header .logo img {
    height: 100%;
}

.header .menu {
    display: inline-block;
}

.header .menu ul li {
    display: inline-block;
    position: relative;
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header .menu ul li:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 3px;
    background: #1DB954;
    transition: .3s;
}

.header .menu ul li.active:after {
    right: 0;
    left: 0;
}

.header .menu ul li a {
    display: block;
    color: #fff;
    transition: .3s;
}

.header .menu ul li.active a {
    color: #1DB954;
}

.header .user {
    float: right;
}

.header .user a.btn {
    width: auto;
    padding: 0 20px
}

@media (max-width: 767px) {
    .header {
        height: 60px;
        line-height: 60px;
    }

    .header .logo {
        padding: 0;
        height: 60px;
        line-height: 80px;
        vertical-align: top;
    }

    .header .logo img {
        height: 32px;
    }

    .header .menu {
        display: none;
    }
}

/*-- header end --*/

/*-- kv --*/

.kv {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.kv img {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

@media (max-width: 767px) {
    .kv {
        height: 35vw;
    }
}

/*-- kv end --*/

/*-- section --*/
.section {
    padding: 40px 0;
    /*border-top: 1px solid #d8d8d8;*/
}

.section h3 {
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    [class*="col-"] {}

    .section {
        padding: 20px 0;
    }


    .section .item-wrap .item .img {
        padding: 14px;
        width: 64px;
        height: 64px;
    }

    .section .item-wrap .item h4 {
        font-size: 16px;
        font-weight: bold;
    }

    .section .item-wrap .item p {
        font-size: 12px;
    }

}

/*-- section end --*/

/*-- footer --*/
.footer {
    padding: 20px 0;
    text-align: center;
    background: #494D52;
}

.footer a {
    display: block;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
}

.footer a+a {
    margin-top: 25px;
}

.logo-blackburn {
    height: 43px;
    background-image: url(../images/logo-blackburn.svg);
}

.logo-DDI {
    height: 64px;
    background-image: url(../images/logo-DDI.svg);
}

.logo-juventus {
    height: 77px;
    background-image: url(../images/logo-juventus.svg);
}

/*-- footer end --*/

/*-- popup --*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    text-align: center;
    z-index: 30;
}

.popup .popup-content {
    display: inline-block;
    position: absolute;
    top: 90px;
    right: 90px;
    bottom: 40px;
    left: 90px;
    padding: 20px;
    border-radius: 5px;
    background: #F2F5F8;
    text-align: left;
    overflow-x: hidden;
    ;
}

.popup .btn-close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    line-height: 50px;
    font-size: 22px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .popup {
        background: #F2F5F8;
    }

    .popup .btn-close-popup {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        color: #1DB954;
        border-color: #1DB954;
        z-index: 1;
    }

    .popup .popup-content {
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
    }

}

/*-- popup end --*/


.btn-goTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url(../images/go-top.svg) no-repeat center center;
}



/*-- 200424 updata 10coin --*/
.coin-intro {
    text-align: center;
}

.coin-intro img {
    width: 33.33%;
}

.coin-intro .intro-text {
    padding: 0 20px;
}

.coin-promo {
    background: #fff;
}

.coin-promo .btn {
    margin-top: 20px;
    padding: 0 40px;
    width: auto;
}

.coin-promo img {
    width: 100%;
}

.coin-event {
    text-align: center;
}

.coin-event img {
    width: 100%;
}

.coin-tnc {
    background: #fff;
    text-align: center;
}

.coin-tnc .tnc-text {
    display: none;
    margin-top: 20px;
    padding: 0 40px;
    text-align: left;
    opacity: .8;
}

@media (max-width: 768px) {
    .coin-intro img {
        display: inline-block;
        padding-top: 10px;
        width: 25%;
        vertical-align: top;
    }

    .coin-intro .intro-text {
        display: inline-block;
        margin-left: 2%;
        padding: 0;
        width: 70%;
        text-align: left;
        vertical-align: top;
    }

    .coin-promo {
        text-align: center;
    }
    .coin-tnc .tnc-text {
        padding: 0 10px;
    }
}

/*-- 10coin end --*/






/*-- css end --*/