/*-- basic --*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    background: #020819;
}

ol {
    list-style-type: decimal;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 12px;
}

i {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.clear {
    display: block;
    clear: both;
}
.br-sm{
    display: none;
}
.color-secondary {
    color: #1DB955;
}

.btn {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    transition: .3s;
}

.btn:hover {
    color: #fff;
    background: #61ce8a;
}

.btn:active {
    color: #fff;
    background: #199d47;
}

.btn-primary {
    height: 58px;
    line-height: 58px;
    background: #1DB955;
    border-radius: 29px;
    font-size: 18px;
    color: #FFFFFF;
}

/*.btn-primary:hover{
    background:#61ce8a;
}
.btn-primary:active{
    background:#199d47;
}*/

.btn-secondary {
    height: 44px;
    line-height: 44px;
    border: 1px solid #1DB954;
    border-radius: 22px;
    font-size: 15px;
    color: #1DB954;
}

/*.btn-secondary:hover{
    border-color:#61ce8a;
    color:#61ce8a;
}
.btn-secondary:active{
    border-color:#199d47;
    color:#199d47;
}*/

.container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 767px) {
    .container {
        max-width: 720px;
        /*min-width: 320px;*/
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*-- grid system --*/
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

[class*="col-"] {
    position: relative;
    float: left;
    width: 100%;
    padding: 15px;
}

.col-1 {
    max-width: 8.333333%;
}

.col-2 {
    max-width: 16.666667%;
}

.col-3 {
    max-width: 25%;
}

.col-4 {
    max-width: 33.333333%;
}

.col-5 {
    max-width: 41.666667%;
}

.col-6 {
    max-width: 50%;
}

.col-7 {
    max-width: 58.333333%;
}

.col-8 {
    max-width: 66.666667%;
}

.col-9 {
    max-width: 75%;
}

.col-10 {
    max-width: 83.333333%;
}

.col-11 {
    max-width: 91.666667%;
}

.col-12 {
    max-width: 100%;
}


@media (max-width: 767px) {
    .col-sm-1 {
        max-width: 8.333333%;
    }

    .col-sm-2 {
        max-width: 16.666667%;
    }

    .col-sm-3 {
        max-width: 25%;
    }

    .col-sm-4 {
        max-width: 33.333333%;
    }

    .col-sm-5 {
        max-width: 41.666667%;
    }

    .col-sm-6 {
        max-width: 50%;
    }

    .col-sm-7 {
        max-width: 58.333333%;
    }

    .col-sm-8 {
        max-width: 66.666667%;
    }

    .col-sm-9 {
        max-width: 75%;
    }

    .col-sm-10 {
        max-width: 83.333333%;
    }

    .col-sm-11 {
        max-width: 91.666667%;
    }

    .col-sm-12 {
        max-width: 100%;
    }
}

/*-- block --*/
.right-side {
    position: fixed;
    top: 50%;
    right: -232px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 281px;
    height: 228px;
    background: url(../images/contact-us.png) no-repeat left top;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .4);
    border-radius: 10px 0 0 10px;
    transition: .3s;
}

/*.right-side:hover,
.right-side:active,*/
.right-side.active {
    right: 0;
}

.right-side .tt {
    position: absolute;
    right: 0;
    padding: 60px 10px 0;
    width: 232px;
    color: #fff;
    text-align: center;
}

.right-side .tt h5 {
    font-size: 16px;
    margin: 10px 0 20px;
}

.right-side .tt .info {
    margin-top: 10px;
    line-height: 40px;
    border: 1px solid #0064c4;
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px 3px rgba(66, 143, 207, 0.35), 0px 0px 10px 3px rgba(66, 143, 207, 0.35);
    -moz-box-shadow: inset 0px 0px 10px 3px rgba(66, 143, 207, 0.35), 0px 0px 10px 3px rgba(66, 143, 207, 0.35);
    -webkit-box-shadow: inset 0px 0px 10px 3px rgba(66, 143, 207, 0.35), 0px 0px 10px 3px rgba(66, 143, 207, 0.35);
    transition: .3s;
}

.right-side .tt .info:hover {
    background: #fff;
    color: #0a427f;
    box-shadow: none;
}

.top-logo {
    background: url(../images/logo@2x.png) top center/contain no-repeat;
    height: 14em;
    max-width: 100%;
}
.top-section {
    position: relative;
    height: 870px;
    text-align: center;
    background: #020819 url(../images/bg-juventus.jpg) no-repeat center top;
    background-size: auto 100%;
}

.top-section .promo-title {
    width: 100%;
    line-height: normal;
    text-shadow: 0 1px 10px rgba(0, 0, 0, .6);
}

.top-section .promo-title h2 {
    font-size: 48px;
    line-height: 1.5em;
    font-weight: bold;
    color: #FDD900;
}

.top-section .promo-content {
    width: 100%;
    line-height: 22px;
    color: #fff;
    margin-top: 18px;
    word-break: keep-all;
}

.top-section .promo-content h5 {
    text-shadow: 0 1px 10px rgba(0, 0, 0, .6);
    margin-top: 10px;
    padding: 0 10px;
    opacity: .9;
    max-width: 50em;
    margin: 0 auto;
    font-size: 24px;
    line-height: 45px;
    font-weight: bold;
}

.top-section .promo-content .btn {
    max-width: 315px;
    max-height: 58px;
}

.top-section .promo-content p {
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.top-section .promo-content p a {
    text-decoration: underline;
    color: #fdd900;
}

.second-section {
    padding: 50px 0 0;
    text-align: center;
    color: #fff;
}

.second-section .promo-wrap {
    margin: 30px -15px 0;
}

.second-section .promo-wrap:after {
    content: "";
    display: block;
    clear: both;
}

.second-section .promo-wrap .item {
    padding: 0px 15px 20px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
}

.second-section .promo-wrap .item .img {
    display: inline-block;
    padding: 20px;
    width: 112px;
    height: 112px;
    background: #004481;
    border-radius: 56px;
}

.second-section .promo-wrap .item h5 {
    margin-top: 30px;
}

.second-section .promo-wrap .item p {
    margin-top: 20px;
    line-height: 24px;
    /*text-align: justify;
    -ms-text-justify: distribute;
    text-justify: distribute;*/
    text-align: center;
    opacity: .5;
}

.second-section .promo-wrap .item .btn-secondary {
    margin-top: 25px;
}

.tnc-section {
    line-height: 24px;
    text-align: left;
    padding: 20px;
    opacity: .5;
    color: #ffffff;
}

.tnc-section .tnc-content {
    font-size: 11px;
    display: none;
}

.top-section .content {
    max-width: 700px;
    background-color: rgba(0,48,99,0.9);
}

.tnc-section h5 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: #ffffff;
}
.tnc-section h5:hover {
    cursor: pointer;
}

.tnc-section ol {
    padding-left: 24px;
}

.tnc-section ol li {
    padding-left: 12px;
}

.tnc-section a {
    color: inherit;
    text-decoration: underline;
}

.tnc-section .content {
    display: none;
}

.sponsership-section {
    padding: 25px 0 40px;
    text-align: center;
}

.sponsership-section .sponsership-item {
    display: inline-block;
}

.sponsership-section .sponsership-item a {
    display: block;
    margin: 35px auto 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center top;
}

.logo-juventus {
    width: 173px;
    height: 68px;
    background-image: url(../images/logo-juventus.svg);
}

.logo-DDI {
    width: 192px;
    height: 62px;
    background-image: url(../images/logo-DDI.svg);
}

.logo-blackburn {
    width: 131px;
    height: 43px;
    background-image: url(../images/logo-blackburn.svg);
}

.logo-west-bromwich {
    background-image: url(../images/logo-west-bromwich.svg);
}

.footer .container {
    border-top: 1px solid rgba(255, 255, 255, .2);
}


.footer {
    text-align: center;
}

.footer p {
    display: inline-block;
    width: 80%;
    margin: 20px 0;
    color: #fff;
    opacity: .3;
    line-height: 24px;
}

@media (max-width: 768px) {
    [class*="col-"] {
        padding: 5px;
    }

    .br-sm{
        display: block;
    }

    .mobile-clear {
        display: block;
        clear: both;
    }

    .top-section {
        height: 600px;
        background-size: auto 70%;
    }

    .top-section .promo-title {
        top: 90px;
    }

    .top-section .promo-title h2 {
        font-size: 22px;
        letter-spacing: 0;
    }

    .top-section .promo-content {
        bottom: 10px;
    }


    .top-section .promo-content h5 {
        font-size: 15px;
        line-height: 33px;
    }

    .top-section .promo-content p {
        font-size: 13px;
        padding: 0px 25px;
    }

    .top-section .promo-content .btn {
        margin-top: 20px;
        height: 50px;
        line-height: 50px;
    }

    .second-section {
        padding-top: 23px;
    }

    .second-section h2 {
        font-size: 20px;
    }

    .second-section .promo-wrap {
        margin: 20px -10px 0;
    }

    .second-section .promo-wrap .item {
        padding: 0 10px 15px;
    }

    .second-section .promo-wrap .item h5 {
        font-size: 14px;
    }

    .second-section .promo-wrap .item p {
        font-size: 12px;
        line-height: 22px;
    }

    .second-section .promo-wrap .item .btn-secondary {
        margin-top: 14px;
        height: 36px;
        line-height: 36px;
    }

    .tnc-section [class*="col-"] {
        padding: 0;
    }

    .tnc-section h5 {
        margin-bottom: 10px;
    }

    .tnc-section .content {
        font-size: 12px;
    }

    .sponsership-section .sponsership-item {
        margin: 0 20px;
    }


    .sponsership-section .sponsership-item p {
        font-size: 12px;
    }

    .footer p {
        width: 100%;
        font-size: 12px;
        line-height: 22px;
    }

    .right-side {
        bottom: 0px;
        top: auto;
    }

}

@media screen and (max-width: 576px) {
    .top-section {
        background-image: initial;
    }
    .top-section .content {
        margin-top: -43px;
    }

    .top-section .promo-title {
        padding-top: 20px;
    }

    .top-logo {
        background-image: url(../images/logo.png);
        position: absolute;
        top: 0;
        left: 50%;
        min-width: 6em;
        transform: translateX(-50%);
    }
    #mobile-banner {
        width: 100%;
        min-height: 12em;
        background: url("../images/bg-juventus.jpg") center center/cover no-repeat;
    }
}





/*-- css end --*/