/*-- basic --*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    background: #063060;
    line-height: normal;
}

ol {
    list-style-type: decimal;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 12px;
}

.clear {
    display: block;
    clear: both;
}

.show {
    display: block;
}

.show-sm {
    display: none;
}

.hide {
    display: none;
}

.hide-sm {
    display: block;
}

.color-link {
    color: #1DB955;
}

.color-primary {
    color: #0A427F;
}
.color-secondary{
    color: #fdd900;
}

.btn {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    transition: .3s;
}

.btn:hover {
    color: #fff;
    background: #61ce8a;
}

.btn:active {
    color: #fff;
    background: #199d47;
}

.btn-primary {
    height: 58px;
    line-height: 58px;
    background: #1DB955;
    border-radius: 29px;
    font-size: 18px;
    color: #FFFFFF;
}

/*.btn-primary:hover{
    background:#61ce8a;
}
.btn-primary:active{
    background:#199d47;
}*/

.btn-secondary {
    height: 44px;
    line-height: 44px;
    border: 1px solid #1DB954;
    border-radius: 22px;
    font-size: 15px;
    color: #1DB954;
}

/*.btn-secondary:hover{
    border-color:#61ce8a;
    color:#61ce8a;
}
.btn-secondary:active{
    border-color:#199d47;
    color:#199d47;
}*/


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 767px) {
    .container {
        max-width: 720px;
        min-width: 320px;
    }

    .show-sm {
        display: block;
    }

    .hide-sm {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/*-- grid system --*/
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

[class*="col-"] {
    position: relative;
    float: left;
    width: 100%;
    padding: 15px;
}

.col-1 {
    max-width: 8.333333%;
}

.col-2 {
    max-width: 16.666667%;
}

.col-3 {
    max-width: 25%;
}

.col-4 {
    max-width: 33.333333%;
}

.col-5 {
    max-width: 41.666667%;
}

.col-6 {
    max-width: 50%;
}

.col-7 {
    max-width: 58.333333%;
}

.col-8 {
    max-width: 66.666667%;
}

.col-9 {
    max-width: 75%;
}

.col-10 {
    max-width: 83.333333%;
}

.col-11 {
    max-width: 91.666667%;
}

.col-12 {
    max-width: 100%;
}

@media (max-width: 767px) {
    .col-sm-1 {
        max-width: 8.333333%;
    }

    .col-sm-2 {
        max-width: 16.666667%;
    }

    .col-sm-3 {
        max-width: 25%;
    }

    .col-sm-4 {
        max-width: 33.333333%;
    }

    .col-sm-5 {
        max-width: 41.666667%;
    }

    .col-sm-6 {
        max-width: 50%;
    }

    .col-sm-7 {
        max-width: 58.333333%;
    }

    .col-sm-8 {
        max-width: 66.666667%;
    }

    .col-sm-9 {
        max-width: 75%;
    }

    .col-sm-10 {
        max-width: 83.333333%;
    }

    .col-sm-11 {
        max-width: 91.666667%;
    }

    .col-sm-12 {
        max-width: 100%;
    }
}

/*-- block --*/
.right-side {
    position: fixed;
    top: 50%;
    right: -232px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 281px;
    height: 228px;
    background: url(../images/contact-us.png) no-repeat left top;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .4);
    border-radius: 10px 0 0 10px;
    transition: .3s;
}

/*.right-side:hover,
.right-side:active,*/
.right-side.active {
    right: 0;
}

.right-side .tt {
    position: absolute;
    right: 0;
    padding: 60px 10px 0;
    width: 232px;
    color: #fff;
    text-align: center;
}

.right-side .tt h5 {
    font-size: 16px;
    margin: 10px 0 20px;
}

.right-side .tt .info {
    margin-top: 10px;
    line-height: 40px;
    border: 1px solid #0064c4;
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px 3px rgba(66, 143, 207, 0.35), 0px 0px 10px 3px rgba(66, 143, 207, 0.35);
    -moz-box-shadow: inset 0px 0px 10px 3px rgba(66, 143, 207, 0.35), 0px 0px 10px 3px rgba(66, 143, 207, 0.35);
    -webkit-box-shadow: inset 0px 0px 10px 3px rgba(66, 143, 207, 0.35), 0px 0px 10px 3px rgba(66, 143, 207, 0.35);
    transition: .3s;
}

.right-side .tt .info:hover {
    background: #fff;
    color: #0a427f;
    box-shadow: none;
}

/*-- section wrap --*/
.section {
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

.section-title {
    padding: 40px 0 20px;
}

@media (max-width: 768px) {
    .section-title {
        padding: 20px 0 10px;
    }
}

/*-- section wrap end --*/

.top-section {
    position: relative;
    height: 870px;
    text-align: center;
    background: #020819 url(../images/juventus.jpg) no-repeat center top;
    /*background-size: auto 100%;*/
}

.top-section .promo-content {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.top-section h2 {
    font-size: 40px;
    text-shadow: 0 1px 10px rgba(0, 0, 0, .6);
}

.top-section .promo-content h3 {
    margin-top: 10px;
    text-shadow: 0 1px 10px rgba(0, 0, 0, .6);
}

.top-section .promo-content .btn {
    max-width: 206px;
    margin: 20px 0;
}

.second-section {
    padding: 50px 0 0;
    text-align: center;
    color: #fff;
}

.second-section .promo-wrap {
    margin: 30px -15px 0;
}

.second-section .promo-wrap:after {
    content: "";
    display: block;
    clear: both;
}

.second-section .promo-wrap .item {
    padding: 0px 15px 20px;
    background: #004481;
    min-height: 410px;
    text-align: left;
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
}

.second-section .promo-wrap .item:hover {
    box-shadow: 0 10px 50px rgba(0, 0, 0, .2);
    transform: translateY(-5px);
}

.second-section .promo-wrap .item .img {
    position: relative;
    margin: 0 -15px;
    height: 160px;
}

.second-section .promo-wrap .item .img>img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
}

.second-section .promo-wrap .item h5 {
    margin-top: 20px;
    line-height: 24px;
}

.second-section .promo-wrap .item p {
    margin-top: 20px;
    line-height: 24px;
    opacity: .5;
}

.second-section .promo-wrap .item .btn-secondary {
    margin-top: 25px;
}

/*-- tnc section wrap --*/
.tnc-section {
    text-align: left;
    padding: 0 20px;
    color: #000;
    color: #999;
}

.tnc-section a {
    color: #1db954;
}

.tnc-section .tnc-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.tnc-section ol {
    padding-left: 24px;
}

.tnc-section ol li {
    padding-left: 12px;
}

/*-- tnc section wrap end --*/

/*-- table --*/
.table-primary {
    width: 80%;
    margin: auto;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}

.table-primary th,
.table-primary td {
    padding: 20px 0;
}

.table-primary tr:nth-child(even) {
    background-color: #F2F5F8;
}

.table-primary th {
    background-color: #0A427F;
    color: #fff;
}
.table-primary+.table-primary{
    margin-top: 20px;
}

.table-img {
    width: 100%;
    padding-top: 12%;
    background: url(../images/coin&red.png) no-repeat center top;
    background-size: 50% auto;
}

@media (max-width: 768px) {
    .table-primary {
        width: 100%;
    }
    .table-primary th {
    /*background-color: rgba(0,0,0.3);*/
}
    .table-img{
        padding-top: 20%;
        background-size: 80% auto;
    }

}

/*-- table end --*/


.footer {
    text-align: center;
}

.footer .container {
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.footer p {
    display: inline-block;
    width: 80%;
    margin: 20px 0;
    color: #fff;
    opacity: .3;
    line-height: 24px;
}

@media (max-width: 768px) {

    .mobile-clear {
        display: block;
        clear: both;
    }

    .top-section {
        height: 480px;
        background-size: auto 60%;
    }

    .top-section .promo-content {
        bottom: 10px;
    }

    .top-section .promo-content h2 {
        font-size: 17px;
    }

    .top-section .promo-content h3 {
        font-size: 14px;
        line-height: 24px;
    }

    .top-section .promo-content p {
        font-size: 10px;
        padding: 0px 25px;
    }

    .top-section .promo-content .btn {
        margin-top: 20px;
        height: 50px;
        line-height: 50px;
    }

    .second-section {
        padding-top: 23px;
    }

    .second-section h2 {
        font-size: 20px;
    }

    .second-section .promo-wrap {
        margin: 20px -10px 0;
    }

    .second-section .promo-wrap .item {
        padding: 0 10px 15px;
    }

    .second-section .promo-wrap .item h5 {
        font-size: 14px;
    }

    .second-section .promo-wrap .item p {
        font-size: 12px;
        line-height: 22px;
    }

    .second-section .promo-wrap .item .btn-secondary {
        margin-top: 14px;
        height: 36px;
        line-height: 36px;
    }

    .tnc-section [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    .tnc-section h5 {
        margin-bottom: 10px;

    }

    .sponsership-section .sponsership-item {
        margin: 0 20px;
    }


    .sponsership-section .sponsership-item p {
        font-size: 12px;
    }

    .footer p {
        width: 100%;
        font-size: 12px;
        line-height: 22px;
    }

}







/*-- css end --*/